---
dependencies: []

galaxy_info:
  role_name: {{ role_name }}
  namespace: lstig
  author: Luke Stigdon
  description: "{{ role_name }} role"
  license: MIT
  min_ansible_version: 2.10
  # https://galaxy.ansible.com/api/v1/platforms/
  platforms:
    - name: EL
      versions:
        - 8
        - 9
  galaxy_tags:
    - {{ role_name }}
