galaxy_info:
  role_name: {{ role_name }}
  namespace: lstig
  author: Luke Stigdon
  description: {{ description }}
  license: MIT
  min_ansible_version: {{ min_ansible_version }}
  # https://galaxy.ansible.com/api/v1/platforms/
  platforms:
  - name: EL
    versions:
    - 8
    - 7
  # - name: Ubuntu
  #   versions:
  #   - focal
  #   - bionic
  # - name: Debian
  #   versions:
  #   - buster
  #   - stretch
  galaxy_tags: []
dependencies: []
{% for dependency in dependencies %}
  #- {{ dependency }}
{%- endfor %}
